@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Source+Code+Pro');
@import "tailwindcss";

:root {
  --color-button: #4305ba;
  --color-link: #4305ba;
  --glow-color1: #62f2aa80;
  --glow-color2: #0f632acc;
}

#root, #app, html, body {
  font-family: 'Source Code Pro', monospace; /* update if importing a different font than the one above */
  font-size: 16px; /* update if needed (16px is the standard for modern browsers) */
  height: 100%;
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
}

/* Custom HTML & CSS Logo */
#custom-logo {
    font-family: 'Tahoma', cursive;
}

/* Mobile Behavior */
html {
    -webkit-tap-highlight-color: transparent;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    html {
        background-color: rgb(0, 0, 0);
    }
}

/* 
Custom scroll  */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  /* Bullet effects */

  .flow .php {
    background: url('./svg/php-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  
  .flow .javascript {
    background: url('./svg/javascript-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .java {
    background: url('./svg/java-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .css {
    background: url('./svg/w3_css-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .html {
    background: url('./svg/w3_html5-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .react {
    background: url('./svg/reactjs-ar21.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .reactNative {
    background: url('./svg/sdk-react-native.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .python {
    background: url('./svg/python-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .vue {
    background: url('./svg/vuejs-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .spring {
    background: url('./svg/springio-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .mysql {
    background: url('./svg/mysql-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .tailwind {
    background: url('./svg/tailwindcss-icon.svg') no-repeat left center;
    background-size: 24px;
  }
  .flow .intellj{
    background: url('./svg/icons8-intellij-idea.svg') no-repeat left center;
    background-size: 24px ;
  }

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px 2px var(--glow-color1);
  }
  50% {
    box-shadow: 0 0 20px 4px var(--glow-color2);
  }
}

.animate-glow {
  animation: glow 5s infinite ease-in-out;
  border-radius: 50%;
}